* text=auto eol=lf
*.ps1 text eol=crlf
*.md text eol=lf
VERSION text eol=lf
*.json text eol=lf
*.ltx text eol=lf
*.script text eol=lf linguist-language=Lua
*.xml text eol=lf
src/gamedata/configs/text/rus/st_gamma_arena.xml -text
src/gamedata/configs/text/rus/st_gamma_arena_mcm.xml -text
